@charset "UTF-8";

@font-face {
  font-family: "fontasticsymbols";
  src:url("fonts/fontasticsymbols.eot");
  src:url("fonts/fontasticsymbols.eot?#iefix") format("embedded-opentype"),
    url("fonts/fontasticsymbols.woff") format("woff"),
    url("fonts/fontasticsymbols.ttf") format("truetype"),
    url("fonts/fontasticsymbols.svg#fontasticsymbols") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fontasticsymbols" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontasticsymbols" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\61";
}
.icon-chevron-left:before {
  content: "\62";
}
.icon-triangle-left:before {
  content: "\63";
}
.icon-play:before {
  content: "\64";
}
.icon-level-down:before {
  content: "\65";
}
.icon-checkmark:before {
  content: "\66";
}
